<div class="iq-commerce-ajax-cart">
  <div class="toggle">
    <a class="toggle__link" href="{{ link }}" title="{{ label }}">
      <span class="toggle__icon"><i class="fas fa-shopping-cart"></i></span>
      <span class="toggle__count">{{ count }}</span>
    </a>
  </div>
  <div class="content content--loading" data-cart-content-holder>
    <div class="content__header">
      <span class="title">{{ label }}</span>
    </div>
    <div class="content__body" data-cart-content data-label-empty="{{ label_cart_empty }}"><p class="empty">{{ label_cart_empty }}</p></div>
    <div class="content__footer" >
      <div class="total">
        <span class="total__label" >{{ label_total }}</span>
        <span class="total__value" data-total-value></span>
      </div>
      {{ pattern('button', {
        href: link,
        title: link_title,
        text: link_title,
        alignment: "left",
        button_icon: "fas fa-shopping-cart"
      }) }}
    </div>
  </div>
</div>
