<div class="iq-commerce-mini-cart">
  <div class="iq-commerce-mini-cart-toggle">
    <a class="button" href="{{ link }}" title="{{ label }}">
      <span class="icon"><i class="fas fa-shopping-cart"></i></span>
      <span class="count">{{ count }}</span>
    </a>
  </div>
  <div class="iq-commerce-mini-cart-content">
    <div class="iq-commerce-mini-cart-header">
      <span class="title">{{label}}</span>
    </div>
    <div class="iq-commerce-mini-cart-body" data-mini-cart-content></div>
    <div class="iq-commerce-mini-cart-footer" >
      {{ pattern('button', {
        href: link,
        title: link_title,
        text: link_title,
        alignment: "left",
        button_icon: "fas fa-shopping-cart"
      }) }}
    </div>
  </div>
</div>
