{#
  /**
   * @file
   * Template for orders in the 'user' view mode.
   *
   * Available variables:
   * - attributes: HTML attributes for the wrapper.
   * - order: The rendered order fields.
   *   Use 'order' to print them all, or print a subset such as
   *   'order.order_number'. Use the following code to exclude the
   *   printing of a given field:
   *   @code
   *   {{ order|without('order_number') }}
   *   @endcode
   * - order_entity: The order entity.
   *
   * @ingroup themeable
   */
#}

<div{{ attributes }}>

  <div class="row iq-row fullwidth iq-user-area__order-detail">
    <div class="col iq-column">

      {% block order_print_icon %}
      <div class="print-icon">
        <a class="field__link" href="/print/pdf/commerce_order/{{ order_entity.id }}">
          <div class="field__label">{{'Print'|t}}</div>
          <i class="fa fa-print field__icon"></i>
        </a>
      </div>
      {% endblock %}

      {% block order_status %}
        <div class="order-status">
          <div class="order-status__placed">
            <div class="field__label">{{ "Order placed"|t }}</div>
            <div class="field__value">{{ order.placed.0 }}</div>
          </div>

          <div class="order-status__completed">
            <div class="field__label">{{ "Order completed"|t }}</div>
            <div class="field__value">{{ order.completed.0 }}</div>
          </div>

          <div class="order-status__number">
            <div class="field__label">{{ "Order number"|t }}</div>
            <div class="field__value">{{ order.order_number.0 }}</div>
          </div>

          <div class="order-status__state">
            <div class="field__label">{{ "Order state"|t }}</div>
            <div class="field__value">{{ order.state.0 }}</div>
          </div>

          <div class="order-status__shipping">
            <div class="field__label">{{ "Shipping information"|t }}</div>
            <div class="field__value">{{ order.shipping_information.0.shipment }}</div>
          </div>
        </div>
      {% endblock %}

      {% block customer_email %}
        <div class="customer-email">
          <div class="field__value">{{ "E-Mail"|t }}</div>
          <div class="field__value">{{ order.mail }}</div>
        </div>
      {% endblock %}

      {% block customer_information %}
        <div class="customer-information">
          {% if order.billing_information %}
            <div class="customer-information__billing">
              <div class="field__label">{{ 'Billing information'|t }}</div>
              <div class="field__value">{{ order.billing_information }}</div>
            </div>
          {% endif %}
          {% if order.shipping_information %}
            <div class="customer-information__shipping">
              <div class="field__label">{{ 'Shipping information'|t }}</div>
              <div class="field__value">{{ order.shipping_information.shipping_profile }}</div>
            </div>
          {% endif %}
        </div>
      {% endblock %}

      {% block order_information %}
        <div class="order-information">
          {{ order.order_items }}
          {{ order.total_price }}
          {{ additional_order_fields }}
        </div>
      {% endblock %}

    </div>
  </div>

</div>
