{{ attach_library('iq_commerce/variation_add_to_cart_form') }}

<div class="commerce-variation-add-to-cart" id="commerce-variation-add-to-cart-{{ variation_id }}">

	<form method="post" action="{{ url('commerce_variation_add_to_cart.variation_cart') }}" accept-charset="UTF-8" class="commerce-variation-add-to-cart__form" id="commerce-variation-add-to-cart-form-{{ variation_id }}">
		<div class="commerce-variation-add-to-cart__quantity-wrapper">
			<button type="button" value="-" class="commerce-variation-add-to-cart__quantity-button commerce-variation-add-to-cart__quantity-button--minus"><i class="fas fa-minus"></i></button>
			<input type="{{ show_quantity }}" name="quantity" min="1" max="100" step="1" value="1" class="commerce-variation-add-to-cart__quantity-input"/>
			<button type="button" value="+" class="commerce-variation-add-to-cart__quantity-button commerce-variation-add-to-cart__quantity-button--plus"><i class="fas fa-plus"></i></button>
		</div>
		<input type="hidden" name="product_id" value="{{ product_id }}"/>
		<input type="hidden" name="variation_id" value="{{ variation_id }}"/>
		<input type="hidden" name="destination" value="{{ destination }}"/>
		{% if user.hasPermission('access variation add to cart') %}
			<button type="submit" value={{ 'Add to cart'|t }} class="commerce-variation-add-to-cart__button button--primary form-submit">
				<span>{{ 'Add to cart'|t }}</span>
				<i class="fas fa-chevron-right"></i>
			</button>
		{% endif %}
	</form>

</div>
