<div class="related-product-item">
  <p class="title">{{ title }}</p>
  <p class="description">{{ description }}</p>
  <div class="variations" data-variations>
    <div data-variation>
      <form>
        <input type="hidden" name="product_id" value="{{ product_id }}" />
        <select name="variation_id">
          <option value="">{{ label_choose_variation }}</option>
          {% for variation in variations  %}
            <option value="{{ variation.variation_id }}" data-variation-price="{{ variation.price }}">{{ variation.title }}</option>
          {% endfor %}
        </select>
        <span class="variation-price" data-variation-price-target></span>
        <button data-text-success="{{ label_added }}" >{{ label_add }}</button>
      </form>
    </div>
    <a data-add-more class="add-variation hidden">{{ label_add_more }}</a>
  </div>
</div>
