<div class="iq-commerce-ajax-cart-item" data-product-id="{{ product_id }}" data-variation-id="{{ variation_id }}">

    <div class="iq-commerce-ajax-cart-item__header">

      <a class="product-link" href="/product/{{ product_id }}" >
        {% if image_img|render is not empty %}
          <div class="product-image">
            <img src="{{ image_img }}" alt="{{ title }}" title="{{ title }}" />
          </div>
        {% endif %}

        <div class="product-title">{{ title }}</div>
      </a>

      <button class="remove-item" aria-label="{{ label_delete }}" title="{{ label_delete }}" data-remove-item>
        <i class="fas fa-trash-alt"></i>
      </button>

    </div>

    <div class="iq-commerce-ajax-cart-item__body">

      <div class="item-update">
        <button class="item-update__button item-update__button--remove" data-increase-item-quantity="-1" aria-label="{{ label_remove_one }}" title="{{ label_remove_one }}"><i class="fas fa-minus"></i></button>
        <input class="item-update__input" name="quantity" type="number" min="0" aria-label="{{ label_quantity }}" value="{{ quantity|number_format(0) }}" data-item-quantity />
        <button class="item-update__button item-update__button--add" data-increase-item-quantity="1" aria-label="{{ label_add_one }}" title="{{ label_add_one }}"><i class="fas fa-plus"></i></button>
      </div>

      <span class="item-price">{{ price }}</span>

    </div>

</div>
